/* **************** 
    COLORS
****************** */
/* 
    It's easiest for me to preface a color with
        bg-(color name)
        border-(color name)
        text-(color name)

But it does bloat the file if the color isn't needed for all three,
so I try to only add what I need.
*/

/* matches logo color. Leveing for now, but probably don't need. */
.text-logo-red {
    color: rgb(147, 56, 50);
}
.bg-logo-red {
    background-color: rgb(147, 56, 50);
}
.border-logo-red {
    border-color: rgb(147, 56, 50);
}


/* Primary color(started as red) */
.text-primary{
    color: rgb(147, 56, 50);
}
.bg-primary {
    background-color: rgb(147, 56, 50);
}
.border-primary {
    border-color: rgb(147, 56, 50);
}

/* Secondary color(gallery background, 'contact' heading color, ...etc) */
.text-secondary{
    color: rgb(45,45,45);
}
.bg-secondary {
    background-color: rgb(45,45,45);
}
.border-secondary {
    border-color: rgb(45,45,45);
}

/* Third...ary color(contact background) */
.text-tertiary{
    color: rgb(240,240,240);
}
.bg-tertiary {
    background-color: rgb(240,240,240);
}
.border-tertiary {
    border-color: rgb(240,240,240);
}
