.gallery-img {
    box-shadow: 0 1px 4px 0px rgba(0,0,0,.4);
}
.gallery-img:hover {
    transition: box-shadow .2s;
    box-shadow: 0 1px 4px 0px rgba(100,0,0,.7);
}

#ezee-overlay {
    background-color: rgba(50,50,50,.7);
}