footer {
    text-align: center;
    font-size: 15px;
    color: rgb(100,100,100);
    padding: 40px 0;
    
}

footer .design-by {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
