/* **************** 
    GALLERY
****************** */

#gallery{
    padding: 6vh 0;
    text-align: center;
}
.gallery-head-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 25px;
}
.gallery-heading {
    font-size: 16vw;
    color: rgb(255,255,255);
}
@media screen and (min-width: 460px) {
    .gallery-heading {
        font-size: 73px;
    }
}

#gallery .instructions {
    margin-top: 20px;
    margin-left: 40px;

    color: rgb(255,255,255);
} 

.gallery-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/*  ========= 
 IMAGE SWITCHER
=========== */

/* Main css  */
.e-i-s {
    position: relative;
    width: 99vw;
    height: 66vw;
    max-width: 900px;
    max-height: 600px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.4);
    margin-top: 9px;
}
@media screen and (min-width: 1400px){
    .e-i-s {
        width: 49vw;
        height: 32.8vw;
    }
}

/* Because this is skewed the hover effect will leave a corner with the 'revert-trigger' exposed */
.e-i-s .switch-trigger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100px;
    width: 21%;
    height: 100%;
    
    transition: all .3s ease 0s;
    z-index: 150;
    transform: skewX(-45deg);
    transform-origin: top left;

    background-color: rgba(0,0,0,0);

}

/* Remember this doesn't really do anything, because the
switch is triggered on hover */
.e-i-s .revert-trigger {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* Images base */
.e-i-s .img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s ease 0s;
}
.e-i-s .img-wrapper img {
    min-width: 100%;
    max-height: 100%;
    
}
.e-i-s .img-wrapper.before {
    opacity: 1;
    z-index: 17;
}
.e-i-s .img-wrapper.after {
    opacity: 0;
    z-index: 10;
}

/* Arrow wrappers */
.e-i-s .arrow-back {
    position: absolute;
    z-index: 50;
    transition: all .3s ease 0s;
    border-radius: 50%;
}
.e-i-s .arrow-back.trigger {
    top: 1%;
    left: 1%;
    padding: 15px;
    background-color: rgba(0,0,0,.8);
    color: rgba(255,255,255,1);
    opacity: 1;
    box-shadow: 0px 0px 1px 1px rgba(255, 158, 76,.7);
}
.e-i-s .arrow-back.revert {
    bottom: 0%;
    right: 0%;
    padding: 30px;
    background-color: rgba(2555,255,255,0);
    color: rgba(255,255,255,0);
    opacity: 0;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255,0);
}

/* Effects */
.e-i-s .switch-trigger:hover {
    width: 131% !important;
}

.e-i-s .switch-trigger:hover ~ .arrow-back.trigger {
    top: 0% !important;
    left: 0% !important;
    padding: 30px !important;
    background-color: rgba(2555,255,255,0) !important;
    color: rgba(255,255,255,0) !important;
    opacity: 0 !important;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255,0) !important;
}
.e-i-s .switch-trigger:hover ~ .arrow-back.revert {
    bottom: 1% !important;
    right: 1% !important;
    padding: 15px !important;
    background-color: rgba(0,0,0,.8) !important;
    color: rgba(255,255,255, 1) !important;
    box-shadow: 0px 0px 1px 1px rgba(255, 158, 76,.7) !important;
    opacity: 1 !important;
}

.e-i-s .switch-trigger:hover ~ .img-wrapper.before {
    opacity: 0 !important;
    z-index: 10 !important;
}
.e-i-s .switch-trigger:hover ~ .img-wrapper.after {
    opacity: 1 !important;
    z-index: 17 !important;
}
